__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/
lib/
include/
share/
.git
.gitignore
.env
.dockerignore
Dockerfile
docker-compose.yml
README.md
parking.db
yolov8m.pt
arbuz-ai/outputs
arbuz-ai/data
