PUSH_PROVIDER=fcm
FIREBASE_CREDENTIALS=serviceAccountKey.json

DATABASE_URL=sqlite:///./parking.db
SECRET_KEY=super-secret-hackathon-key

SMARTCAPTCHA_SITE_KEY=
SMARTCAPTCHA_SERVER_KEY=

SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com
EMAILS_FROM_NAME=Администратор Арбуз

FRONTEND_URL=http://localhost:5173

BACKEND_CORS_ORIGINS=["*"]

PARKING_YOLO_WEIGHTS=best.pt
PARKING_YOLO_CONF=0.25
PARKING_YOLO_FREE_CLASS_IDS=0
PARKING_YOLO_OCCUPIED_CLASS_IDS=1